@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  [data-printable] {
    display: none !important;
  }
}

body {
    background-color: white;
    overflow-x: hidden;
}

.table-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

.neon-text {
  width: 100%;
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate 
{
  0%,18%,80%,90.1%,92%
  {
    color: var(--neon-color);
    text-shadow:none;
  }
  18.1%,20.1%,30%,50%,60.1%,80.1%,90%,92.1%,100%
  {
    color: #fff;
    text-shadow: 0 0 10px var(--neon-secondary),
    0 0 20px var(--neon-secondary),
    0 0 40px var(--neon-secondary),
    0 0 80px var(--neon-secondary),
    0 0 160px var(--neon-secondary);
  }
}

.typingeffect {
  display: block;
  border-right: 4px solid;
  width: 12.5ch;

  animation: typing 2s steps(12),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {width: 0}
}
@keyframes blink {
  50% {border-color: transparent}
}